#info{
    margin-top: 3rem;
    display: flex;
    gap: 2%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form{
    display: grid;
    gap: 7%;
    background-color: #92b5b8;
    padding: 1%;
    border-radius: 1rem;
    height: 20rem;
}

.input-form{
    display: grid;
    gap: 5%;
}

#buttons{
    display: flex;
    gap: 3%;
    text-transform: capitalize;
}

input, textarea{
    padding: 2%;
    resize: none;
    border: none;
}

textarea{
    height: 100%;
}

footer{
    margin-top: 5rem;
}

@media(max-width: 1024px){
    form{
        height: 20.5rem;
    }
    #info{
        display: grid;
        justify-items: center;
        align-content: center;
        text-align: center;
    }
}