/* #contact h1{
    top: 35%;
    justify-self: center;
} */

#info{
    position: relative;
    top: 35rem;
    display: flex;
    gap: 2%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form{
    display: grid;
    gap: 7%;
    background-color: #92b5b8;
    padding: 1%;
    border-radius: 1rem;
    height: 20rem;
}

.input-form{
    display: grid;
    gap: 5%;
}

#buttons{
    display: flex;
    gap: 3%;
    text-transform: capitalize;
}

input, textarea{
    padding: 2%;
    resize: none;
    border: none;
}

textarea{
    height: 100%;
}

footer{
    position: absolute;
    bottom: -37%
}

@media(max-width: 1024px){
    form{
        height: 20.5rem;
    }
}