#services{
    margin-top: 3rem;
    margin-left: 3.4rem;
    display: grid;
    text-align: center;
    justify-content: center;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.card{
    width: 10rem;
    border-radius: 1rem;
}

.card h3{
    background-color: #98D2C0;
    text-align: center;
}

.card p{
    background-color: #d0fff0;
}

.card{
    padding: 1%;
    background-color: #15805e
}

#about{
    display: grid;
    justify-items: center;
    margin-top: 1rem;
}

figure img{
    width: 32%;
}

#about div{
    display: flex;
    gap: 1%;
    margin: 0 5%;
}

article{
    font-size: 110%;
    margin-left: -70%;
}

em{
    color: #15805e;
}

@media(max-width: 1024px) {
    #services{
        flex-wrap: wrap;
        text-align: start;
    }
    .card{
        margin-bottom: 1rem;
    }
    #about div{
        display: grid;
    }
    #about img{
        width: 100%;  
    }
    article{
        margin-left: 0;
    }
    footer{
        margin-top: 3rem;
    }
}